$body-bg: #f2f2f2;
$primary: #545454;
$secondary: #b4d2ba;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #00C9BD;
$dark: #313130;
$accent: #A09ABC;
$accent-dark: #413C5B;
$primary-dark: #0C7C59;
